.container
  .row
    .span12{:style => "text-align: center;"}
      %p
        =link_to "Source", "https://github.com/chintanparikh/oyster"
        \//
        By
        =link_to "chintanparikh", "http://chintanparikh.github.io"
        \/
        =link_to "@chintanparikh94", "http://twitter.com/chintanparikh94"
        \//
        =link_to "UI ♥", "http://designmodo.com/flat-free/"