%body
.container
  .row.demo-row
    .span12{:style => "margin-top: 10px; margin-left:"}
      .navbar.navbar-inverse
        .navbar-inner
          .container
            %button.btn.btn-navbar{"data-target" => "#nav-collapse-01", "data-toggle" => "collapse", :type => "button"}
            #nav-collapse-01.nav-collapse.collapse
              %ul.nav
                %li
                  =link_to "OYSTER", root_path
                %li
                  .span3
                    .btn-toolbar{:style => "margin: 0;"}
                      .btn-group{:style => "margin-top: 8px;"}
                        =form_for @endpoint do |f|
                          .btn.btn-primary#new_endpoint_nav
                            %i.fui-eye
                            =f.button "New Endpoint"
                    / /toolbar
            / /.nav
.container
  .demo-headline{:style => "padding-top:  0;"}
    %h1.demo-logo
      .logo
      Oyster
      %small Instant API Endpoint
    .span4{:style => "margin-left: 320px; margin-top: 20px;"}
      =form_for @endpoint do |f|
        .btn.btn-primary.btn-large.btn-block#main_button
          %i.fui-eye
          =f.button "Create New Endpoint"
  / /demo-headline
/ /container
.container
  .row
    .span12{:style => "text-align: center;"}
      %p
        %a{:href => "#"} Source
        \//
        By
        = succeed "/" do
          %a{:href => "http://github.com/chintanparikh"} git:chintanparikh
        %a{:href => "http://twitter.com/chintanparikh94"} @chintanparikh94
        \//
        %a{:href => "http://designmodo.com/flat-free/"} UI ♥
    / /span8